<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{{title}}}</title>
        <link rel="stylesheet" href="/public/css/homepage.css">
        <link rel="stylesheet" href="/public/css/success.css">
    </head>

    <body>
        <header>
            <h1>37 Airlines</h1>
            <a href="/reviews">Reviews</a>
            {{!-- <a href="/login">Login</a>             --}}
        </header>

        {{{body}}}

        <footer>
            <h3>I am footer, you can edit me.</h3>
        </footer>
    </body>
    <script src="/public/js/searchflights.js"></script>
</html>