<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{{title}}}</title>
        <link rel="stylesheet" href="/public/css/homepage.css">
    </head>

    <body>
        <header>
            <h1>37 Airlines</h1>
        </header>

        {{{body}}}

        <footer>
            <h3>I am footer, you can edit me.</h3>
        </footer>
    </body>
</html>