


<main>
        <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid well" id="home" style="display:block; padding-top:10px;padding-bottom:10px">
            
        <ul class="navbar-nav">
    {{#if isLoggedIn}}
    <li class="nav-item" style="float:right;display:block;padding-left:10px;padding-right:10px;">
    <a class="nav-link" href="/userProfile">User Profile</a>
    </li>
    <li class="nav-item" style="float:right;display:block;padding-left:10px;padding-right:10px;">
    <a class="nav-link" href="/logout">Logout</a></li>
    {{else}}
    <li class="nav-item" style="float:right;display:block;padding-left:10px;padding-right:10px;">
    <a class="nav-link" href="/login">Login</a></li>
    {{/if}}
    </ul>
    </div>
    </nav>


    {{!-- {{/if}} --}}
    {{#if error}}
    <h1>{{error}}</h1>
    {{/if}}
    <form method="post" id="addreviewform">
        <table>
            <tr>
                <td><label for="review">Review</label></td>
                <td><input type="text" name="review" id="review" placeholder="Add Review Here"></td>
            </tr>
            <tr>
                <td><label for="rating">Rating</label></td>
                <td>
                    <select name="rating" id="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="5">4</option>
                    <option value="5">5</option>
                    </select>
                </td>
            </tr>
            <tr>
                {{!-- <td><button id="submit-button" type="submit" name="submit" value="submit">Add</button></td> --}}
            </tr>
        </table>
        <button id="submit-button" type="submit" name="submit" value="submit">Add</button>
    </form>
    <div class="hidden" id="error-container">
        <div class="text-goes-here">
        </div>
    </div>
    <script src="/public/js/reviews.js"></script>
</main>
