<main>
    <h1>Available Flights</h1>
<table>
     <thead>
         <tr>
            <th>Flight Code</th>
            <th>Arrival</th>
            <th>Departure</th>
             <th colspan="2">Action</th>
        </tr>
    </thead>

     <tbody>
         {{#each solution1}}

           <tr>
             <td>{{flightCode}}</td>
             <td>{{arrival}}</td>
             <td>{{departure}}</td>
            <td><a href="/admin/editflight/{{_id}}">Update</a></td>
             <td>Delete</td>
        </tr>

    {{/each}}
</tbody>
</table>
    <a href="admin/addflight">Add Flight</a>
</main>