<h1>Admin Login</h1>
<form action="/adminlogin" method="post" id="login-form">
    <label for="email">Enter email: </label>
    <input type="email" name="email" placeholder="Enter email" id = "email">
    <label for="password">Enter password: </label>
    <input type="password" name="password" placeholder="Enter password" id = "password">        
    <button type="submit" class="btn">Login</button>    
    {{#if hasErrors}}
        <p>{{error}}</p>
    {{/if}}
</form> 
<br>