<section>
<h2>Edit User Details</h2>
  {{#if haserror}}
<div >Error : {{error}}</div>
{{/if}}


      <form id="userformid" method="post" name="edituserdetails" action="/userProfile/editdetails">

      <label for="firstnameInput" class="form-label">First Name</label>
      <input id="firstnameInput" class="form-control" name="firstnameInput"  placeholder="First Name" value="{{solution1.firstName}}">

      <label for="lastnameInput" class="form-label">Last Name</label>
      <input id="lastnameInput"  class="form-control" name="lastnameInput"  placeholder="Last Name" value="{{solution1.lastName}}">
    
      <button type="submit">Submit</button>

      </form>

  <div class="hidden" id="error-container">
    <div class="text-goes-here"></div>
  </div>
   <script src="/public/js/edituser.js"></script>
</section>