<section>
      <form id="userformid" method="post" name="edituserdetails" action="/userProfile/editdetails">

      <label for="firstnameInput">First Name</label>
      <input id="firstnameInput" name="firstnameInput"  placeholder="First Name" value="{{solution1.firstName}}">

      <label for="lastnameInput">Last Name</label>
      <input id="lastnameInput" name="lastnameInput"  placeholder="Last Name" value="{{solution1.lastName}}">
    
      <button type="submit">Submit</button>

      </form>

  <div class="hidden" id="error-container">
    <div class="text-goes-here">
    </div>
</section>