<main>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid well" id="home" style="display:block; padding-top:10px;padding-bottom:10px">
            
    <ul class="navbar-nav">
    {{#if isLoggedIn}}
   <li class="nav-item" style="float:right;display:block;padding-left:10px;padding-right:10px;">
        <a class="nav-link" href="/userProfile">User Profile</a>
        </li>
    <li class="nav-item" style="float:right;display:block;padding-left:10px;padding-right:10px;">
        <a class="nav-link" href="/logout">Logout</a>
    </li>
    {{else}}
<li class="nav-item" style="float:right;display:block;padding-left:10px;padding-right:10px;">
        <a class="nav-link" href="/login">Login</a>
        </li>
    {{/if}}

    <li class="nav-item" style="float:right;display:block;padding-left:10px;padding-right:10px;">
        <a class="nav-link" href="/reviews">Reviews</a>
        </li>

    </ul>
    </div>
    </nav>

    <form method="post" name="searchFlightsForm" action="/searchflights" id="searchFlightsForm">
    <table>
        <tbody>
        <tr>
            <td><label for="depart_airport">Departure Airport &nbsp;</label></td>
            <td><input type="text" name="depart_airport" id="depart_airport" placeholder="Newark" required></td>
        </tr>
        
        <tr>
            <td><label for="arrival_airport">Arrival Airport</label></td>
            <td><input type="text" name="arrival_airport" id="arrival_airport" placeholder="Mumbai" required></td>
        </tr>

        <tr>
            <td><label for="date">Departure Date</label></td>
            <td><input type="date" name="date" id="date" required></td>
        </tr>

        <tr>
            <td><label for="passengers">Passengers</label></td>
            <td><select name="passengers" id="passengers">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select>
            </td>
        </tr>

        <tr>
            <td><label for="class">Class</label></td>
            <td><select name="class" id="class">
                <option value="economy">Economy Class</option>
                <option value="business">Business Class</option>
                <option value="first">First Class</option>
                </select>
            </td>
        </tr>

        <tr><td>&nbsp;</td></tr>

        <tr>
            <td colspan="2"><button id="home_submit" type="submit">Submit</button></td>
        </tr>
        </tbody>
    </table>
    </form>

    <div class="hidden" id="error-container">
        <div class="text-goes-here">
        </div>
    </div>

    <script src="/public/js/homepage1.js"></script>
</main>