<h2>Login</h2>
<form action="/login" method="post" id="login-form">

    <table>
        <tr>
            <td><label for="email" class="form-label">Email: </label></td>
            <td><input type="email" class="form-control" name="email" placeholder="Enter email" id = "email"></td>
        </tr>

        <tr>
            <td><label for="password" class="form-label">Password: </label></td>
            <td><input type="password" class="form-control" name="password" placeholder="Enter password" id = "password"></td>
        </tr>

        <tr>
            <td><button type="submit" class="btn">Login</button></td>
        </tr>
    </table>
        
    {{#if hasErrors}}
        <p>{{error}}</p>
    {{/if}}
</form> 
<br>
<a href="/register">Click here to register!</a>