<h1>Login</h1>
<form action="/login" method="post" id="login-form">
    <label for="email" class="form-label">Enter email: </label>
    <input type="email" class="form-control" name="email" placeholder="Enter email" id = "email">
    <label for="password" class="form-label">Enter password: </label>
    <input type="password" class="form-control" name="password" placeholder="Enter password" id = "password">        
    <button type="submit" class="btn">Login</button>    
    {{#if hasErrors}}
        <p>{{error}}</p>
    {{/if}}
</form> 
<br>
<a href="/register">Click here to register!</a>