<h1>Register</h1>
<form action="/register" method="post" id="registration-form">
    <label for="firstName" class="form-label">Enter Firstname: </label>
    <input type="text" class="form-control" name="firstName" placeholder="Enter firstname" id = "firstName">
    <label for="lastName" class="form-label">Enter Lastname: </label>
    <input type="text" class="form-control" name="lastName" placeholder="Enter lastname" id = "lastName">
    <label for="email" class="form-label">Enter email: </label>
    <input type="email" class="form-control" name="email" placeholder="Enter email" id = "email">
    <label for="password" class="form-label">Enter password: </label>
    <input type="password" class="form-control" name="password" placeholder="Enter password" id = "password">
    <label for="password" class="form-label">Confirm password: </label>
    <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm password" id = "confirmPassword">         
    <button type="submit" class="btn">Register</button>
    {{#if hasErrors}}
        <p id="error">{{error}}</p>
    {{/if}}
</form>
<a href="/login">Already have an account? Click here to log-in</a>