button {
    background-color: rgb(236, 206, 206);
    border: rgb(5, 1, 1);
    color: black;
    text-align: center;
    font-size: 16px;
    border: 2px solid black;
   
   
    

}


main{
    background-color: darkgray;
    border: black;
    color:black;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
  
}

body{
background-color: antiquewhite;
    height:800px;
    width: 100%;
    border:black;
    color:black;
    text-align: center;
    max-width: 500px;
    margin: auto;
    
    position:relative;
    top: 25%;
    left: 35%;
  
}

table{

    align-content: flex-end;
}
thead{
    background-color: #7493bb;
    color:black
}

nav{
    background-color: #7493bb;

}
.text-goes-here{
    color: darkred;

}

